* {
  border: 5px  black thin;
}

html {
  scroll-padding-top: 70px;
}

#main_page {

  /* padding-top: 50px; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  border: 2px black solid;
}

section ul li {
  list-style: none;
  text-decoration: none;
}
 .navbar {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background: rgb(7, 5, 64);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}
.navbar li {
  float: right;
}
.navbar li a{
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
}
.navbar li a:hover {
  background-color: bisque;
  color: black;
}
.logo {
  text-align: left;
  }
.box{
  font-optical-sizing: 14px;
}
img {
  display: block;
  width: 50%;
  height: 50%;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 5px -3px teal;
  cursor: pointer;

 }

 .img-box{
  list-style: none;
  width: 32.8%;
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin-bottom: 15px;
}
#contact {
  font-size-adjust: var();
}
#contact img {
  box-shadow: none;
}
