* {
  margin: 0;
  padding: 0;
  font-family: 'Literata', Arial, sans-serif;
  box-sizing: border-box;
}

.headline {
  flex-basis: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding-left: 20px;
  padding-bottom: 20px;
} 

 body {
  background: linear-gradient(to right, rgba(248, 243, 243, 0.6), rgba(255, 255, 255, 0.9)),
    url("../images/yannis-papanastasopoulos-U6dnImauDAE-unsplash.jpg") center / cover;
}

/* NAVBAR */
.header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menu-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.list-item {
  border-right: 1px solid black;
}

.nav-btn {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white; 
}

.nav-btn:hover,
.menu-btn:hover {
  background-color: bisque;
}

.menu-icon {
  display: none;
}

.menu-btn {
  display: none;
}

.menu-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.nav-btn {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white; /* Set text color to white */
}

.nav-btn:hover,
.menu-btn:hover {
  background-color: bisque;
}
/* The user-select CSS property controls whether the user can select text. This doesn't have any effect on content loaded as part of 
a browser's user interface (its chrome), except in textboxes. */
.menu-icon {
  cursor: pointer;
  display: none; 
  padding: 28px 20px;
  user-select: none;
}

.menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.menu-icon .navicon:before {
  top: 5px;
}

.menu-icon .navicon:after {
  top: -5px;
}

/* HOME SECTION */
.section-area.home {
  padding-top: 70px;
  padding-bottom: 0;
}

.home-section .home-headline {
  flex-basis: 100%;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  padding: 25px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
}

.my-portrait {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* EDUCATION SECTION */

.education-text-container {
  display: flex;
  flex-direction: column;
}

.education-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 20px 0px;
}

.additional-headline {
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
}

.btn {
  padding: 4px;
  margin: 7px;
  box-shadow: 2px 2px 2px 1px rgba(81, 11, 11, 0.2);
  border-radius: 7px;
  border-color: rgba(106, 49, 49, 0.7);
  background-color: rgba(170, 173, 170, 0.3);
  color: #6e1111;
  text-decoration: none;
}

/* EXPERIENCE*/

.events-section {
  display: flex;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.education-section {
  display: flex;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.experience-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 20px;
}

.experience-text-container {
  display: flex;
  flex-direction: column;
}


/* EVENTS */

.events-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  padding: 10px;
  margin: 5px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.events-content:hover {
  transform: scale(1.1); 
  background-color: rgba(145, 202, 158, 0.7);
  font-size: 14px;
}

.events-text-container {
  display: flex;
  flex-direction: column;
}

.events-content .btn-container {
  color: #420808;
}

/* FOOTER */
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(9, 9, 9, 505);
  padding: 10px;
}

.footer-content a {
  text-decoration: none;
  color: white;
}


/* LOGO STYLING */

.footer-logo {
  width: 20px;
  cursor: pointer;
}

.logo {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}


/* MEDIA */

@media (min-width: 768px) {
  .home-text-container {
    flex-direction: row;
    padding: 50px;
  }

  .my-portrait {
    width: 20%;
  }

  .events-text-container {
    flex-direction: row;
    padding: 50px;
  }


  .menu {
    flex-direction: row;
    max-height: none;
  }

  .list-item {
    float: left;
  }

  .nav-btn {
    padding: 20px 30px;
  }
  
  .menu-btn {
    display: none; 
  }

  .education-content {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .my-portrait {
    width: 20%;
  }

}

/* SECTION STYLES */

.section-area {
  display: flex;
  text-align: center;
  font-size: 1rem;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-icon {
    display: inline-block; /* Display the hamburger icon on small screens */
  }
}