* {
  margin: 0;
  padding: 0;
  border: 5px solid black;
}

html {
  scroll-padding-top: 70px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main_page {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("/images/optional.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 50px;
}

section {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 40px;
}

section ul li {
  list-style: none;
  text-decoration: none;
}

.navbar {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background: rgb(7, 5, 64);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  cursor: pointer;
}

.navbar li {
  float: right;
}

.navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
}

.navbar li a:hover {
  background-color: bisque;
  color: black;
}

.direction {
  padding-left: 20px;
  text-align: left;
}

.box {
  font-size: 14px;
  border-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: 5px;
  border-radius: 7px;
  box-shadow: 5px -3px lightgrey;
  cursor: pointer;
}

.img-box {
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.text-box {
  width: 100%;
  padding: 20px;
  text-align: left;
  margin-bottom: 15px;
  position: sticky;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}

#contact {
  font-size: 14px;
}

#footer {
  background-color: #333;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

#footer ul li {
  margin: 0 15px;
}