* {
  margin: 0;
  padding: 0;
  font-family: 'Literata', Arial, sans-serif;
  box-sizing: border-box;
}

/* NAVBAR */
/* .nav-list {
  position: fixed;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  padding: 15px;
  background-color: #080808;
}

.list-item {

  /* float: left; */
/* list-style-type: none;
}

.nav-btn {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
*/
.headline {
  flex-basis: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  padding-bottom: 20px;
} 
 body {
  background: linear-gradient(to right, rgba(248, 243, 243, 0.7), rgba(255, 255, 255, 0.99)),
    url("../images/jr-korpa-9XngoIpxcEo-unsplash.jpg") center / cover;
}


/* header */

.header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: black;
  color: aliceblue;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid black;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: bisque;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background:white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 768px) {
  .header .list-item {
    float: left;
  }

  .header .list-item .nav-button {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}


/* HOME SECTION */

.home-section {
  display: flex;
  text-align: center;
  padding-top: 70px;
  border: rgb(92, 10, 10) solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.home-section .home-headline {
  flex-basis: 100%;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-content {
  padding: 25px;

}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
}


.my-portrait {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* EDUCATION SECTION */

.education-section {
  display: flex;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border: rgb(92, 10, 10) solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.education-text-container {
  display: flex;
  flex-direction: column;
}

.education-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0px 20px 0px;
}

@media (min-width: 768px) {
  .education-content {
    flex-direction: row;
  }

}

.additional-headline {
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.btn {
  padding: 4px;
  margin: 7px;
  box-shadow: 2px 2px 2px 1px rgba(81, 11, 11, 0.2);
  border-radius: 7px;
  border-color: rgba(106, 49, 49, 0.7);
  background-color: rgba(170, 173, 170, 0.3);
  color: #6e1111;
  text-decoration: none;
}

/* EXPERIENCE*/

.experience-section {
  display: flex;
  text-align: center;
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: rgb(92, 10, 10) solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.experience-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 20px 20px;
}

.experience-text-container {
  display: flex;
  flex-direction: column;
  border: #420808;
}


/* EVENTS */

.events-section {
  display: flex;
  text-align: center;

  padding-top: 40px;
  padding-bottom: 40px;
  border: rgb(92, 10, 10) solid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.events-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  gap: 20px;
  padding: 20px;
}

.events-text-container {
  display: flex;
  flex-direction: column;
}

.events-content .btn-container {
  color: #420808;
}

/* FOOTER */

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: rgb(9, 9, 9, 505);
  padding: 10px;
}

.footer-content a {
  text-decoration: none;
  color: white;
}


/* LOGO STYLING */
.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 40%;
  cursor: pointer;
}

.logo {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}

.logo-pu {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}

.logo-cc {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}

.logo-jp {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}

.logo-poliglot {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}

.logo-jbeer {
  width: 75px;
  border-radius: 7px;
  cursor: pointer;
}


/* MEDIA */

@media (min-width: 768px) {
  .home-text-container {
    flex-direction: row;
    padding: 50px;

  }

  .my-portrait {
    width: 40%;
  }

  .events-text-container {
    flex-direction: row;
    padding: 50px;
  }

}

@media (min-width: 1024px) {
  .my-portrait {
    width: 20%;
  }

}

/* SECTION STYLES */

.section {
  text-align: right;
  padding: 40px 0;
  border: rgb(92, 10, 10) solid;
  display: flex;
  flex-wrap: wrap;
}